div{
  attribute: value;
  margin:150%, 20px, 13pt;
  padding:20px;
}

header{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 34pt;
}

p{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 34pt;
}

body{
  background: #ffd700;
}

.menu {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 28px;
 }
 
#Home {
  padding-right: 10%;
  padding-left: 10%;
  background-color: #ffd700;
 }
 
#Home:hover{
  padding-right: 10%; 
  padding-left: 10%; 
  background-color: #ffffff;
}

#AboutMe {
  padding-right: 10%;
  padding-left: 10%;
  background-color: #ffd700;
}

  #AboutMe:hover{
  padding-right: 10%;
  padding-left: 10%;
  background-color: #ffffff;
}
 
 
 
 
 
 
 
 
 
 
 



  

